<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
 <Product Id="E0ACEE25-938F-52EC-ACD6-BF4598A3AFCD" Name="Dhad Studio" Language="1033" Version="1.0.0" Manufacturer="Dhad Studio" UpgradeCode="DD77F054-1B3E-59A5-BA93-214DDBD3ABF5">
  <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="Dhad Studio v1.0.0 - Arabic Programming Language (Windows 7 Interview Demo)" />
  <Media Id="1" Cabinet="dhad.cab" EmbedCab="yes" />
  <Property Id="ARPCOMMENTS" Value="Arabic programming language demo: compiler, programs, CPU simulator, examples and docs." />
  <Directory Id="TARGETDIR" Name="SourceDir">
   <Directory Id="ProgramFilesFolder">
    <Directory Id="INSTALLDIR" Name="DhadStudio">
     <Directory Id="DIR_BIN" Name="bin" />
     <Directory Id="DIR_CPU-EXAMPLES" Name="cpu-examples" />
     <Directory Id="DIR_EXAMPLES" Name="examples" />
    </Directory>
   </Directory>
   <Directory Id="ProgramMenuFolder"><Directory Id="MenuDhad" Name="Dhad Studio" /></Directory>
   <Directory Id="DesktopFolder" />
  </Directory>
  <Feature Id="MainFeature" Title="Dhad Studio" Level="1">































   <ComponentGroupRef Id="G_DIR_BIN" />
   <ComponentGroupRef Id="G_DIR_EXAMPLES" />
   <ComponentGroupRef Id="G_INSTALLDIR" />
  </Feature>
 </Product>
 <Fragment>
  <ComponentGroup Id="G_DIR_BIN" Directory="DIR_BIN">
   <Component Id="C_F_bin_01_hello_exe" Guid="93977C57-4379-5BA8-B5EC-2D20BCFB6F44"><File Id="F_bin_01_hello_exe" Source="$(var.PayloadDir)/bin/01_hello.exe" /></Component>
   <Component Id="C_F_bin_02_arithmetic_exe" Guid="23296304-8476-5715-98C8-086AEEC6C755"><File Id="F_bin_02_arithmetic_exe" Source="$(var.PayloadDir)/bin/02_arithmetic.exe" /></Component>
   <Component Id="C_F_bin_03_conditions_exe" Guid="D3EBAB43-5D0E-54AE-A70B-2770D7514A10"><File Id="F_bin_03_conditions_exe" Source="$(var.PayloadDir)/bin/03_conditions.exe" /></Component>
   <Component Id="C_F_bin_04_loops_exe" Guid="FC903860-921D-520F-823D-E2F9C7F26664"><File Id="F_bin_04_loops_exe" Source="$(var.PayloadDir)/bin/04_loops.exe" /></Component>
   <Component Id="C_F_bin_05_functions_exe" Guid="B11CBD92-DCD9-5BF3-8C0A-2F308EE31D8B"><File Id="F_bin_05_functions_exe" Source="$(var.PayloadDir)/bin/05_functions.exe" /></Component>
   <Component Id="C_F_bin_06_factorial_exe" Guid="3ACF090D-2DD5-5F6E-9D48-E2B6FD59C9D7"><File Id="F_bin_06_factorial_exe" Source="$(var.PayloadDir)/bin/06_factorial.exe" /></Component>
   <Component Id="C_F_bin_07_fibonacci_exe" Guid="6C1F8AF1-7CF3-52B8-BC93-E5A5C304D55A"><File Id="F_bin_07_fibonacci_exe" Source="$(var.PayloadDir)/bin/07_fibonacci.exe" /></Component>
   <Component Id="C_F_bin_daad_compiler_exe" Guid="CDD55A2E-DB04-51F2-8BAA-F25615D98DE7"><File Id="F_bin_daad_compiler_exe" Source="$(var.PayloadDir)/bin/daad-compiler.exe" /></Component>
   <Component Id="C_F_bin_dhad_cpu_exe" Guid="626708CF-9DD7-50E3-ABB8-42A83D23A45F"><File Id="F_bin_dhad_cpu_exe" Source="$(var.PayloadDir)/bin/dhad_cpu.exe" /></Component>
  </ComponentGroup>
  <ComponentGroup Id="G_DIR_EXAMPLES" Directory="DIR_EXAMPLES">
   <Component Id="C_F_examples_01_hello_cpp" Guid="B08335C5-D31A-5ED1-9681-ADF76E59D01A"><File Id="F_examples_01_hello_cpp" Source="$(var.PayloadDir)/examples/01_hello.cpp" /></Component>
   <Component Id="C_F_examples_02_arithmetic_cpp" Guid="4CA74284-3F89-5622-B903-48B28C11E191"><File Id="F_examples_02_arithmetic_cpp" Source="$(var.PayloadDir)/examples/02_arithmetic.cpp" /></Component>
   <Component Id="C_F_examples_03_conditions_cpp" Guid="491C8FF0-BC12-5C40-84F1-8C56131589E7"><File Id="F_examples_03_conditions_cpp" Source="$(var.PayloadDir)/examples/03_conditions.cpp" /></Component>
   <Component Id="C_F_examples_04_loops_cpp" Guid="78465A33-3B71-510B-B775-BC725F9969C1"><File Id="F_examples_04_loops_cpp" Source="$(var.PayloadDir)/examples/04_loops.cpp" /></Component>
   <Component Id="C_F_examples_05_functions_cpp" Guid="19130382-4CE4-5A3C-B39D-C1C27E66BC79"><File Id="F_examples_05_functions_cpp" Source="$(var.PayloadDir)/examples/05_functions.cpp" /></Component>
   <Component Id="C_F_examples_06_factorial_cpp" Guid="8B7FC853-F4CF-5E50-AD7A-E249704459D0"><File Id="F_examples_06_factorial_cpp" Source="$(var.PayloadDir)/examples/06_factorial.cpp" /></Component>
   <Component Id="C_F_examples_07_fibonacci_cpp" Guid="DD15EBF7-1464-5EEF-A83D-8345F2F1D5CD"><File Id="F_examples_07_fibonacci_cpp" Source="$(var.PayloadDir)/examples/07_fibonacci.cpp" /></Component>
  </ComponentGroup>
  <ComponentGroup Id="G_INSTALLDIR" Directory="INSTALLDIR">
   <Component Id="C_F_Demo_Dhad_Studio_bat" Guid="BEC55928-B62A-5DCF-A6BA-6F66B170131C"><File Id="F_Demo_Dhad_Studio_bat" Source="$(var.PayloadDir)/Demo-Dhad-Studio.bat" /><Shortcut Id="ShMenu" Directory="MenuDhad" Name="Dhad Studio Demo" Target="[INSTALLDIR]Demo-Dhad-Studio.bat" WorkingDirectory="INSTALLDIR" /><Shortcut Id="ShDesk" Directory="DesktopFolder" Name="Dhad Studio Demo" Target="[INSTALLDIR]Demo-Dhad-Studio.bat" WorkingDirectory="INSTALLDIR" /></Component>
   <Component Id="C_F_README_WIN7_txt" Guid="B7398AF4-71C7-55FC-A2EC-342A4029BDEA"><File Id="F_README_WIN7_txt" Source="$(var.PayloadDir)/README-WIN7.txt" /></Component>
  </ComponentGroup>
 </Fragment>
</Wix>
